extends layout

block content
  h1 TechThics
  p.lead A Computer Engineering Undergrad's unsolicited opinions on Technology's Ethical Issues
  hr
  .row
    .col-sm-6
      h2 Article Listings
      p 
      p
        a.btn.btn-default(href='api', role='button') View details »
    .col-sm-6
      h2 Totally Random (jk Hard-Coded) Article Generator
      p 
      p
        a.btn.btn-default(href='robots', role='button') View details »
    .col-sm-6
      h2 Heading
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »