extends ../layout

block content
  .page-header
    h2
      i.fa.fa-building-o
      | TechThics Posts
    h4
      li(class=(title == 'Contact') ? 'active' : undefined)
      a(href='/robots') Will A Robot Take My Job?
